
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-title {
  max-width: 700px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  padding-top: 20px;
  /* background: white; */
  padding-bottom: 20px;
  border-radius: 12px;
  /* box-shadow:-5px 5px 0 rgba(0,0,0,0.08); */
  text-shadow: -2px 1px 2px rgb(175, 175, 175);
}

.sub-title {
  text-align: center;
  font-size: 2.3rem;
  color: #65686f;
}

@media (max-width: 768px) {
  .main-title {
    max-width: 300px;
  }
}